.navbar {
    background-color: #fff;
    color: #8bc34a;
    display: flex;
    justify-content: space-between;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
  }

  .navbar-logo img {
    height: 80px;
    margin-right: 10px;
  }

  .navbar-menu {
    display: flex;
    align-items: center;
  }

  .navbar-menu a {
    color: #8bc34a;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
  }

  .navbar-menu a:hover {
    color: #aaa;
  }

.headline {
   font-size: 40px;
   line-height: 1.5;
   background-color: #dcedc8;
   margin-top: 0%;
}
.headline h2 {
   margin: 0;
   margin-bottom: 0; 
   
}
.headline {
    position: relative;
  }

  .headline img {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 500px;
    margin-right: 10px;
    margin-top: 10px;
  }
.headline-p {
    font-size: 15px;
    margin-top: 0;
}
.about-button {
    margin-top: 5px;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 10px;
    background-color: #8bc34a;
    font-weight: bold;

}
body {
    font-family: Arial, sans-serif;
    background-color: #dcedc8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #dcedc8;
}
.service-h {
    color: #212121;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.section {
    margin-bottom: 40px;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section p {
    font-size: 18px;
    color: #666;
}

.services {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
}

.service {
    flex-basis: 33.33%;
    padding: 20px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 4px;
    margin: 15px;
}

.service h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
    color: #666;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #8bc34a;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #555;
}
.footer {
    background-color: #8bc34a;
    color: #fff;
    padding: 20px;
    text-align: center;
}